.mail_button {
    margin-top: 15px;
    /* margin-left: 15px; */
    background-color: #02c75a;
    color: white;
    display: flex;
    border-radius: 6px;
    height: 36px;
    font-size: 14.5px;
    font-weight: 500;
}

input:focus {
    outline: none;
}

.sidebar {
    overflow: scroll;
    /* overflow: hidden; */
    height: 800px;
    /* 메일 리스트도 똑같이 높이 세팅하고 overflow적용하기 */
}
